<nav class="top-bar">
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#/events">Events</a></li>
      <li class="divider"></li>
      <li><a href="#/people">People</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>