/**
 *= require foundation_and_overrides
 *= require rafflr
 */

span.title {
  font-size: 15px;
  font-weight: bold;
  color: #333;

  span.ui-li-count {
    position: static;
    margin-top: 0em;
    margin-left: 1em;
  }
}

.hidden {
  display: none;
}

li.event {
  background: -moz-linear-gradient(center bottom, rgba(253, 253, 253, .5) 0%, rgba(238, 238, 238, .5) 100%) no-repeat fixed;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(253,253,253,0.5)), color-stop(0, rgba(238,238,238,0.5))) no-repeat fixed;
  background-image: -moz-linear-gradient(center bottom, rgba(253, 253, 253, .5) 0%, rgba(238, 238, 238, .5) 100%) no-repeat fixed;
}

li.transition {
  background: -moz-linear-gradient(#FFFF00, #FFFFB2) repeat scroll 0 0 #FFFF00;
  background-image: -webkit-linear-gradient(#FFFF00 /*{c-body-background-start}*/, #FFFFB2 /*{c-body-background-end}*/);
  background-image: -moz-linear-gradient(#FFFF00 /*{c-body-background-start}*/, #FFFFB2 /*{c-body-background-end}*/);
  background-image: -ms-linear-gradient(#FFFF00 /*{c-body-background-start}*/, #FFFFB2 /*{c-body-background-end}*/);
  background-image: -o-linear-gradient(#FFFF00 /*{c-body-background-start}*/, #FFFFB2 /*{c-body-background-end}*/);
  background-image: linear-gradient(#FFFF00 /*{c-body-background-start}*/, #FFFFB2 /*{c-body-background-end}*/);
}

.ui-page {
  background: url(/images/aorlogo.png) center no-repeat ;
}