body {
  overflow: hidden;
}

#checkins {
  padding: 15px 0px 1px;
  width: 700px;
  float:left;

  p {
    margin: 0 0 15px;
    line-height: 1.6;
  }

  div.summary {
    p {
      margin-bottom: 0;

      .meta {
        font-size: 11px;
        clear: left;
        padding-left: 26px;

        span {
          margin-right: 20px;
        }
      }

      .title {
        text-align: left;
      }
    }
  }
}

ul#checkins {
  margin: 0 -24px;
  padding: 0;
  border-top: 1px solid #d9d9d9;

  li {
    margin: 0;
    padding: 8px 24px;
    width: 650px;
    float: left;
    list-style: none;
    border: 1px solid #d9d9d9;
    border-top: none;
    background: url(images/fade_down.png) repeat-x bottom left;
  }
}

@mixin span-title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: block;
  float: left;
  padding-left: 26px;
}

span.title {
  @include span-title;
  background: url(images/status_unknown.png) no-repeat 0 2px;
}

span.employ {
  @include span-title;
  background: url(images/lf1m.png) no-repeat 0 2px;
}

span.employment {
  @include span-title;
  background: url(images/lfw.png) no-repeat 0 2px;
}

.event {
  margin: 3px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  background-color: darken(white, 2%);
  border: 2px solid Olive;

  > div {
    padding: 10px;
  }
}

.list {
  border: 5px double;
  background: url(images/aorlogo.png) center center no-repeat fixed !important;
}

.x-button.hidden {
  display: none;
}