<li class="checkin">
  <div class="summary">
    <p class="title">
      <span class="title<%= ' employment' if checkin.employment %><%= ' employ' if checkin.employ %>"><%= checkin.user.name %></span>
    </p>
    <p class="meta">
      <span class="shoutout"><%= checkin.shoutout %></span>
    </p>
  </div>
</li>