<h2>Edit Checkin for "<%= @event.name %>"</h2>
<%= form_for @checkin do |form| %>
  <%= render :partial => "form", :locals => {:form => form} %>
  <p>
    <%= form.submit "Update Checkin" %>
  </p>
<% end %>